#outputDiv{
  display: none;
}
h1{ 
  text-align: center;
  color:#FFC400;
  font-family: 'Combo', cursive;

}
h3{
   text-align: center;
  color:#DD2C00;
font-family: 'Combo', cursive;
}
img {
   width: 800px;
  height: 800px;
}

.column {
  float: left;
  width: 33.33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
